@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;500;700;800&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blau:  rgb(0, 87, 124);
    --verd: rgb(199, 216, 130);
    --montserrat:'Montserrat', sans-serif;
    --signika: 'Lora';
    --abril: 'Abril Fatface';
    --roboto:'Roboto'
}

body{
    display: flex;
    font-size: 1,5em;
    font-family: 'Lora';
    font-weight: 400 ;
    color: var(--blau);
    width: 100%;
    text-align:start;
}
ul{
    display: flex;
    flex-direction: column;
}
ul li{
    list-style-type: none;
    margin: 0.9em;

}
ul li a{
    font-size: 1.2em;
}
body>header a:hover{
    background: none;
    color:rgb(199, 216, 130);
}
a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

body>header{
    font-size: 0.95em;
    position:fixed;
    padding: 1.2em;
    width: 20%;
}
body>header a{
    background-color:rgb(199, 216, 130);
    padding: 0.1em;
    color:white;
    background-color:var(--verd);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em;
    padding: 0.75em;
    align-items: center;
    border-radius: 250px;
}
h1{
    
    font-size: 2,8em;
    margin: 0 0 0em 0;
    font-family: var(--abril);
    font-weight: 700;
    text-align:left;
    align-items: center;
}
main h2{
    text-align: center;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 13px;
}
h3{
    font-size: 2,5em;
    font-family: var(--abril);
    font-weight: 100 ;
    color: var(--blau);
    width: 100%;
    text-align:start;

}
body>header p{
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 20px;
    margin: 2em 0 6em 0;
    line-height: 1.4em;
}
nav{
    width: 100%;
    padding: 0,5em 0 0 0;
    display: flex;
    padding: 1em 1em;
    margin-top: 10%;
    width: 100%;
    justify-content: space-around;
    align-content:initial;
    align-items: flex-start;
}
a{
    text-decoration: none;
    font-family: var(--roboto);
    font-weight: 100;
    text-transform: uppercase;
    border:  none;
    color: var(--blau);
    padding: 60px;
    font-size: 70%;
}
ul{
    margin: em 0 0 3em;
} 
main{
    padding: 1em;
    width: 80%;
    margin-left: 20%;
}
main .container{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(9, 100px);
    justify-content: center;
}
main .container div{
    height: auto;
    display: flex;
    flex-direction: column;
}
.container>div{
    display: flex;  
    flex-direction: column;
}
.container header{
    width: 100%;
    height: 100%;
}
main a{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
h6{
    color:white;
    font-family: var(--montserrat);
    font-weight: 300;
    font-size: 130% ;
    align-items: center;
    border-radius: 100px;
    padding: 10px;
    background-color: var(--blau);
    margin: 1px;
    justify-content: center;
    align-content: space-between;
    
}
#contacto{
    background-color:var(--verd);
    height: 50vh;
    align-content: center ;
}
#contacto .container{
    display: flex;
    flex-wrap: wrap;
}
#contacto p{
    font-family: var(--montserrat);
    font-size: 100%;
    width: 100%;
    color: var(--blau);
    border: none;
    margin-top: 8em;
    text-align: center;

} 
main a:hover{
    color:rgb(199, 216, 130);
}
.e1, .e2, .e3, .e4, .e5, .e6, .e7, .e8, .e9, .e10{
    background-color: rgb(0, 87, 124);
}
.e1{
    grid-column:1/5;
    grid-row:1/5;
}
.e2{
    grid-column:5/9;
    grid-row:1/5;
}
.e3{
    grid-column:1/9;
    grid-row:5/9;
}
.e4{
    grid-column:9/15;
    grid-row:1/9;
}
.e5{
    grid-column:15/19;
    grid-row:1/5;
}
.e6{
    grid-column:15/19;
    grid-row:5/9;
}
.e7{
    grid-column:19/23;
    grid-row:1/6;
}
.e8{
    grid-column:19/23;
    grid-row:6/9;
}
.e1:hover, .e2:hover, .e3:hover, .e4:hover, .e5:hover, .e6:hover, .e8:hover{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: none;
}
.e1:hover{
    background-image: url('../img/P1.png');
}
.e2:hover{
    background-image: url('../img/P2.png');
}
.e3:hover{
    background-image: url('../img/P3.png');
}
.e4:hover{
    background-image: url('../img/P4.png');
}
.e5:hover{
    background-image: url('../img/P5.png');
}
.e6:hover{
    background-image: url('../img/P6.png');
}
.e7:hover:hover{
    background-image: url('../img/P7.png');
}
.e8:hover{
    background-image: url('');
}


@media (max-width: 1024px){
    body{
        flex-direction: column;
    }
    body>header{
        position: relative;
        width: 100%;
    }
    main{
        width: 100%;
        margin-left: 0;
    }
    main .container{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(9, 100px);
    }
    h1{
        width: 162px;
        right: 600px;
        top: 31px;
        text-align: center;
        font-size: 2.2em;
        margin: 0 0 3em 0;
    }
    nav ul{
        flex-direction: row;
        justify-content: space-around;
        justify-content: left;
    }
    .e1{
        grid-column:1/2;
        grid-row:1/5;
    }
    .e2{
        grid-column:2/3;
        grid-row:1/5;
    }
    .e3{
        grid-column:1/3;
        grid-row:5/9;
    }
    .e4{
        grid-column:3/4;
        grid-row:1/9;
    }
    .e5{
        grid-column:4/5;
        grid-row:1/5;
    }
    .e6{
        grid-column:4/5;
        grid-row:5/9;
    }
    .e7{
        grid-column:5/6;
        grid-row:1/6;
    }
    .e8{
        grid-column:5/6;
        grid-row:6/9;
    }
}
@media (max-width: 600px){
    body{
        flex-direction: column;
        align-items: center;
        display: flex;
        flex: wrap;
    }
    body>header{
        position: relative;
        width: 100%;
    }
    main{
        width: 100%;
        margin-left: 0;
    }
    main .container{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(12, 200px);
    }
    .e1{
        grid-column:1/2;
        grid-row:1/3;
    }
    .e2{
        grid-column:2/3;
        grid-row:1/3;
    }
    .e3{
        grid-column:1/2;
        grid-row:3/6;
    }
    .e4{
        grid-column:2/3;
        grid-row:3/5;
    }
    .e5{
        grid-column:2/3;
        grid-row:5/7;
    }
    .e6{
        grid-column:1/2;
        grid-row:6/8;
    }
    .e7{
        grid-column:2/3;
        grid-row:7/10;
    }
    .e8{
        grid-column:1/2;
        grid-row:8/10;
    }
}